/*.html
/guide/
/in-a-box/*.html
/man/.buildinfo
/man/.doctrees/
/man/_static/
/man/_sources/
/man/*.html
/man/objects.inv
/man/searchindex.js
/releases.mk
/releases/
/schema/
/server-api/.buildinfo
/server-api/.doctrees/
/server-api/_modules/
/server-api/_sources/
/server-api/_static/
/server-api/*.html
/server-api/objects.inv
/server-api/searchindex.js
