/*.html
/guide/
/in-a-box/beaker.ks.html
/in-a-box/beaker-setup.html
/in-a-box/beaker-distros.html
/in-a-box/beaker-virt.html
/man/.buildinfo
/man/.doctrees/
/man/_static/
/man/_sources/
/man/*.html
/man/objects.inv
/man/searchindex.js
/releases.mk
/releases/
/schema/
/server-api/.buildinfo
/server-api/.doctrees/
/server-api/_modules/
/server-api/_sources/
/server-api/_static/
/server-api/*.html
/server-api/objects.inv
/server-api/searchindex.js
/yum/rpms/
/yum/client/Fedora16/
/yum/client/RedHatEnterpriseLinux5/
/yum/client/RedHatEnterpriseLinux6/
/yum/client-testing/Fedora16/
/yum/client-testing/RedHatEnterpriseLinux5/
/yum/client-testing/RedHatEnterpriseLinux6/
/yum/harness/Fedora16/
/yum/harness/RedHatEnterpriseLinux3/
/yum/harness/RedHatEnterpriseLinux4/
/yum/harness/RedHatEnterpriseLinux5/
/yum/harness/RedHatEnterpriseLinux6/
/yum/harness/RedHatEnterpriseLinux7/
/yum/harness-testing/Fedora16/
/yum/harness-testing/RedHatEnterpriseLinux3/
/yum/harness-testing/RedHatEnterpriseLinux4/
/yum/harness-testing/RedHatEnterpriseLinux5/
/yum/harness-testing/RedHatEnterpriseLinux6/
/yum/harness-testing/RedHatEnterpriseLinux7/
/yum/server/RedHatEnterpriseLinux6/
/yum/server-testing/RedHatEnterpriseLinux6/
